@media print{.screen{display:none}
@page{margin:2cm 2cm 0 2cm}
}@media screen{.print{display:none}
}body{margin:0;font-family:"Minion Pro","Crimson"}
em,i{font-style:italic}
q:before{content:"‘"}
q:after{content:"’"}
q q:before{content:"“"}
q q:after{content:"”"}
.normalWeight{font-family:"Minion Pro";font-weight:normal}
a:link,a:visited,a:hover{text-decoration:none;color:#000}
@media screen{a:hover{text-decoration:underline}
}h1,h2,strong,b,th{font-family:"Minion Pro SmBd";font-weight:bold}
th{text-align:left}
ul.listTable{overflow:auto}
sup{position:relative;top:-.5em;font-size:80%}
span.TeX sub,span.LaTeX sub{position:relative;top:.2em;margin-left:-.1em}
span.LaTeX sup{position:relative;font-size:80%;top:-.3em;margin-left:-.3em}
a#pdf{position:fixed;bottom:.5cm;right:1cm;opacity:.5;-webkit-transition:opacity .5s linear}
a#pdf:hover{opacity:1}
div#show_grid{position:fixed;top:0;left:0;width:21px;height:21px;background-image:url("../images/21px.png")}
div#show_grid:hover ~ div.wrapper{background-image:url("../images/21px.png");background-repeat:repeat}
@media print{div#show_grid{display:none}
}
