html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
@import(http://fonts.googleapis.com/css?family=Crimson+Text&v2);
@media print{body{font-size:10.5pt}
.screen{display:none}
@page{margin:2cm 2cm 0 2cm}
}@media screen{body{font-size:16px}
.print{display:none}
}body{margin:0;font-family:"Minion Pro","Crimson"}
em,i{font-style:italic}
q:before{content:"‘"}
q:after{content:"’"}
q q:before{content:"“"}
q q:after{content:"”"}
.normalWeight{font-family:"Minion Pro";font-weight:normal}
a:link,a:visited,a:hover{text-decoration:none;color:#000}
@media screen{a:hover{text-decoration:underline}
}h1,h2,strong,b,th{font-family:"Minion Pro SmBd";font-weight:bold}
th{text-align:left}
ul.listTable{overflow:auto}
sup{position:relative;top:-.5em;font-size:80%}
body section.content{font-size:1em;width:45.89426317579819em;line-height:1.3498312698764172em;margin:0 auto;padding:5.399325079505669em 0}
@media print{body section.content{padding-top:0}
}h1{font-size:1.5238095212384166em;padding:.13498312698764173em 0;line-height:2.6996625397528344em}
h2{font-size:1.3333333324334458em;margin:2.024746904814626em 0 .6749156349382086em 0}
td,th{padding:.3374578174691043em 1em .3374578174691043em 0}
p{margin:.3374578174691043em 0}
table.firstColFixedWidth td:first-child,table.firstColFixedWidth th:first-child{width:6.749156349382086em}
table.aLevelTable td:first-child,table.aLevelTable th:first-child{width:2.6996625397528344em}
ul li{list-style-type:disc;margin:.3374578174691043em 0}
ul.listTable li{float:left;width:33%;height:1.3498312698764172em;text-align:center;list-style-type:none}
ul.inside{margin-left:1.0798650159011338em}
