@import "common.css";
span.TeX sub,span.LaTeX sub{position:relative;top:.2em;margin-left:-.1em}
span.LaTeX sup{position:relative;font-size:80%;top:-.3em;margin-left:-.3em}
#formats{position:fixed;bottom:.5cm;right:1cm;overflow:auto}
#formats a{float:right;clear:both;margin-top:1cm;opacity:.5;-webkit-transition:opacity .5s linear;-moz-transition:opacity .5s linear;-o-transition:opacity .5s linear;transition:opacity .5s linear}
#formats a:hover{opacity:1}
p.profile{margin-top:1.3498312698764172em}
div.endNote{font-style:italic;text-align:center;margin:5.399325079505669em 0 0 0}
