@import "./common.css";
body{width:40.494938096292515em;margin:0 auto}
h1{font-size:1em}
.wrap{overflow:auto}
.referee{float:left;margin-right:1em}
.close .signoff,.close .name{margin-top:5em}
div.addresses{overflow:auto}
div.recipientAddress{width:13.498312698764172em;float:left}
div.senderAddress{width:13.498312698764172em;float:right}
