@import "./common.css";
section.letter{width:40.494938096292515em;margin:0 auto}
h1{font-size:1em}
.wrap{overflow:auto}
.referee{float:left;margin:1.3498312698764172em}
.salutation,.close .name{margin-top:5.399325079505669em}
.close .signoff,h1{margin-top:2.6996625397528344em}
div.addresses{overflow:auto;padding-top:2.6996625397528344em}
div.recipientAddress{float:left}
div.senderAddress{float:right}
div.sentDate{margin-top:1.3498312698764172em}
span.person{font-weight:bold}
