vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

column-count(count)
  vendor('column-count', count)

// 10.5pt =  3.70416667 mm = 1em

bodyem = 3.70416667 // font height in mm, so we can express measurements in mm

@media print
  body
    font-size 10.5pt
  .screen
    display none
  @page
    margin 2cm 2cm 0 2cm

@media screen
  body
    font-size 16px
  .print
    display none

body
  margin 0
  font-family "Minion Pro", "Crimson"

em, i
  font-style italic

q:before
  content "‘"
q:after
  content "’"
q q:before
  content "“"
q q:after
  content "”"

.normalWeight
  font-family "Minion Pro"
  font-weight normal

a:link, a:visited, a:hover
  text-decoration none
  color black

@media screen
  a:hover
    text-decoration underline


h1, h2, strong, b, th
  font-family "Minion Pro SmBd"
  font-weight bold

th
  text-align left

ul.listTable
  overflow auto

sup
  position relative
  top -0.5em
  font-size 80%

span.TeX sub, span.LaTeX sub
  position relative
  top 0.2em
  margin-left -0.1em

span.LaTeX sup
  position relative
  font-size 80%
  top -0.3em
  margin-left -0.3em


a#pdf
  position fixed
  bottom 0.5cm
  right 1cm
  opacity 0.5
  -webkit-transition opacity 0.5s linear

a#pdf:hover
  opacity 1





body section.content
  font-size 1em
  width unit((170/bodyem), em)
  line-height unit((5/bodyem), em)
  margin 0 auto
  padding unit((20/bodyem), em) 0

@media print
  body section.content
    padding-top 0

h1
  font-size unit((5.64444444/bodyem), em) // 16pts = 5.64444444mm
  // 1.52380952 times larger
  padding unit(((0.5/bodyem)/1.52380952), em) 0
  line-height unit(((10/bodyem)/1.52380952), em)

h2
  font-size unit((4.93888889/bodyem), em) // 14pts = 4.93888889mm
  // 1.33333333 times larger
  margin unit(((7.5/bodyem)/1.33333333), em) 0 unit(((2.5/bodyem)/1.33333333), em) 0

td, th
  padding unit((1.25/bodyem), em) 1em unit((1.25/bodyem), em) 0

p
  margin unit((1.25/bodyem), em) 0


table.firstColFixedWidth td:first-child, table.firstColFixedWidth th:first-child
  width unit((25/bodyem), em)

table.aLevelTable td:first-child, table.aLevelTable th:first-child
  width unit((10/bodyem), em)

ul li
  list-style-type disc
  margin unit((1.25/bodyem), em) 0

ul.listTable li
  float left
  width 33%
  height unit((5/bodyem), em)
  text-align center
  list-style-type none

ul.inside
  margin-left unit((4/bodyem), em)


p.profile
  margin-top unit((5/bodyem), em)

div.endNote
  font-style italic
  text-align center
  margin unit((20/bodyem), em) 0