@import "funcs"
@import "common.css"

span.TeX sub, span.LaTeX sub
  position relative
  top 0.2em
  margin-left -0.1em

span.LaTeX sup
  position relative
  font-size 80%
  top -0.3em
  margin-left -0.3em


a#pdf
  position fixed
  bottom 0.5cm
  right 1cm
  opacity 0.5
  -webkit-transition opacity 0.5s linear

a#pdf:hover
  opacity 1


p.profile
  margin-top unit((5/bodyem), em)

div.endNote
  font-style italic
  text-align center
  margin unit((20/bodyem), em) 0