bodyem = 3.70416667

body
  width unit((150/bodyem), em)
  margin 0 auto

h1
  font-size: 1em

.wrap
  overflow: auto

.referee
  float: left
  margin-right: 1em

.close .signoff, .close .name
  margin-top: 5em


div.addresses
  overflow auto

div.recipientAddress
  width unit((50/bodyem), em)
  float left

div.senderAddress
  width unit((50/bodyem), em)
  float right