@import "funcs"
// Uses ems

@import "./common.css"
// Builds on common styles

section.letter
  width unit((150/bodyem), em)
  margin 0 auto

h1
  font-size 1em

.wrap
  overflow auto

.referee
  float left
  margin unit((5/bodyem), em)

.salutation, .close .name
  margin-top unit((20/bodyem), em)

.close .signoff, h1
  margin-top unit((10/bodyem), em)

div.addresses
  overflow auto

div.recipientAddress
  float left

div.senderAddress
  float right

div.sentDate
  margin-top unit((5/bodyem), em)

span.person
  font-family "Minion Pro SmBd"
  font-weight bold