@import "funcs"
// Uses ems

@import "./common.css"
// Builds on common styles

section.letter
  width unit((150/bodyem), em)
  margin 0 auto

h1
  font-size: 1em
  margin-top unit((5/bodyem), em)

.wrap
  overflow: auto

.referee
  float: left
  margin-right: 1em

.close .signoff, .close .name
  margin-top: 5em


div.addresses
  overflow auto
  padding-top unit((10/bodyem), em)

div.recipientAddress
  float left
  clear both

div.senderAddress
  float right
  clear both

div.sentDate
  margin-top unit((5/bodyem), em)