
@media print
  .screen
    display none
  @page
    margin 2cm 2cm 0 2cm

@media screen
  .print
    display none

body
  font-family "Minion Pro", "Crimson"
  margin 0 auto

em, i
  font-style italic

.normalWeight
  font-family "Minion Pro"
  font-weight normal

a:link, a:visited, a:hover
  text-decoration none
  color black

@media screen
  a:hover
    text-decoration underline


h1, h2, strong, b, th
  font-family "Minion Pro SmBd"
  font-weight bold

th
  text-align left

ul.listTable
  overflow auto

ul.inside
  list-style-position inside

sup
  position relative
  top -0.5em
  font-size 80%

span.TeX sub, span.LaTeX sub
  position relative
  top 0.2em
  margin-left -0.1em

span.LaTeX sup
  position relative
  font-size 80%
  top -0.3em
  margin-left -0.3em


a#pdf
  position fixed
  bottom 0.5cm
  right 1cm
  opacity 0.5
  -webkit-transition opacity 0.5s linear

a#pdf:hover
  opacity 1
