vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

column-count(count)
  vendor('column-count', count)


body section.content
  font-size pts(10.5)
  width cms(17)
  line-height cms(0.5)
  margin 0 auto
  padding cms(2) 0

@media print
  body section.content
    padding-top 0

h1
  font-size pts(16)
  padding cms(0.5) 0 cms(0.5) 0
  line-height cms(1)

h2
  font-size pts(14)
  margin cms(0.75) 0 cms(0.25) 0
  line-height cms(1)

td, th
  padding cms(0.125) 1em cms(0.125) 0

p
  margin cms(0.125) 0


table.firstColFixedWidth td:first-child, table.firstColFixedWidth th:first-child
  width cms(2.5)

table.aLevelTable td:first-child, table.aLevelTable th:first-child
  width cms(1)

ul li
  list-style-type disc
  margin cms(0.125) 0

ul.listTable li
  float left
  width 33%
  height cms(0.5)
  text-align center
  list-style-type none

ul.inside
  margin-left cms(0.4)


p.profile
  margin-top cms(0.5)

div.endNote
  font-style italic
  text-align center
  margin cms(2) 0

div.address
  width cms(5)
  text-align left
  float right