vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

column-count(count)
  vendor('column-count', count)


body
  font-size pts(10.5)
  width cms(17)

body
  line-height cms(0.5)

h1
  font-size pts(16)
  padding cms(1.5) 0 cms(0.25) 0
  line-height 1cm

h2
  font-size pts(14)
  margin cms(0.5) 0 cms(0.25) 0
  line-height cms(1)

td, th
  padding cms(0.125) 1em cms(0.125) 0

p
  margin cms(0.125) 0


table.firstColFixedWidth td:first-child, table.firstColFixedWidth th:first-child
  width cms(2.5)

ul li
  list-style-type disc
  margin cms(0.125) 0

ul.listTable li
  float left
  width 25%
  height cms(0.5)
  text-align center
  list-style-type none

div.twoCol
  column-count 2
  column-gap cms(1)

div.endNote
  font-style italic
  text-align center
  margin cms(1) 0
